{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<style>
body{
    background-image: url("");}
</style>
  <div class="wrapper fadeInDown">
    <div id="formContent">

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="" id="icon" alt="" />
      </div>

      <!-- Login Form -->
      <form action='login' method='POST'>
        <input type="text" id="email" class="fadeIn third" name="email" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" oninvalid="this.setCustomValidity('Invalid email')" oninput="this.setCustomValidity('')" required>
        <input type="password" id="password" class="fadeIn third password" name="password" placeholder="password" pattern="^\S{8,20}$" oninvalid="this.setCustomValidity('Invalid password')" oninput="this.setCustomValidity('')" required>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
    </div>
  </div>

{% endblock %}
