{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<style>
body{
    background-image: url("https://cdn.pixabay.com/photo/2016/10/26/12/32/abstract-1771361_1280.jpg");}
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; color : white; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .container {margin : auto; width : 50%;margin-top : 10%; }

</style>



<div class="container">
<div class="example-wrapper">
    <h1>You want to share your favorite movies?</h1>

    <h2>Welcome on My Movies Lists! <h2>
    </div>
</div>
{% endblock %}
